.map {
    height: 100%;
    padding: 0;
  }

  .footer-center {
    margin: 0 auto;
    font-size: 0.5em;
  }

  .logo {
    margin-top: 0.5em;
    margin-right: 1em;
  }

  .right-menu {
    float: right;
  }

  .menu-item {
    margin: 0.5em;
    cursor: pointer;
  }

  .fill-space {
    /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
