<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div>
      <img src="https://image.shutterstock.com/image-photo/milan-italy-may-8th-2017anonymous-260nw-1042070020.jpg">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://image.shutterstock.com/image-photo/milan-italy-may-8th-2017anonymous-260nw-1042070020.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://image.shutterstock.com/image-photo/milan-italy-may-8th-2017anonymous-260nw-1042070020.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://image.shutterstock.com/image-photo/milan-italy-may-8th-2017anonymous-260nw-1042070020.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://image.shutterstock.com/image-photo/milan-italy-may-8th-2017anonymous-260nw-1042070020.jpg">
  </mat-grid-tile>
</mat-grid-list>